@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');

* {
    margin: 0;
    font-family: "Ms Madi", serif;
}

body {
    background-color: black;
    color: white;
}

.all {
    width: 80%;
    margin: 20px auto;
}

.menu {
    position: sticky;
    top: 0px;
    padding: 20px;
    background-color: white;
    z-index: 5;
}

.links {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

a {
    color: black;
    text-decoration: none;
    font-size: 30px;
    font-weight: 600;
}

a:first-child {
    border-bottom: 3px solid red;
}

h2 {
    text-align: center;
    margin: 40px 0px;
}

.image,
.audio,
.video {
    display: flex;
    justify-content: space-between;
    margin: 40px 0px;
}

img,
audio,
video {
    width: 31%;
}

img,
video {
    height: 300px;
}